<!-- This is for extending the base.html template! -->
{% extends 'base.html' %}

<!-- Title of the page -->
{% block title %} Login {% endblock %}

<!-- Block for page itself -->
{% block content %}

<!-- Make form block -->
<div class="logo">TempoLinc Portal Login</div>
<div class="login-item">
	<form action="{{ url_for('login') }}" method="POST" class="form form-login">
		<!-- Protects against some sort of cyberattack related to form submission -->
		{{ form.hidden_tag() }}
		<!-- Token needed for validation -->
		{{ form.csrf_token }}  
		<div class="form-field">
			<label class="user" for="login-username"></label>
			{{ form.email(placeholder = 'Username') }}
		</div>

		<div class="form-field">
			<label class="lock" for="login-password"></label>
			{{ form.password(placeholder = 'Password') }}
		</div>

		<!-- Button to submit -->
		<div class="form-field">
			<input type="submit" value="Log in">
		</div>
	<!-- </form>
	<p class="text--center">You don't have an account? <a href="/register">Register one</a></p>
</div> -->

{% if form.errors %}
<div class="error-msg-div">
	<p>Something went wrong in during the login process:</p>
		{% for key, val in form.errors.items() %}
		<p> {{ key.capitalize() }} field: {{ val[0] }}</p>
		{% endfor %}
</div>
{% endif %}




{% endblock %}
