<!-- This is for extending the base.html template! -->
{% extends 'base.html' %}

<!-- Title of the page -->
{% block title %} Update User Details {% endblock %}

<!-- Block for page itself -->
{% block content %}

<!-- Make form block -->
<div class="logo">Remove user - {{id_to_remove.username}}?</div>
<div class="update-item">
    <form method="POST" action="{{ url_for('remove_user', id=id_to_remove.id) }}" class="form form-login">
        {{ form.hidden_tag() }}

        <div class="form-field">
            <input type="submit" name="confirm" value="Confirm">
        </div>
        <div class="form-field">
            <input type="submit" name="cancel" value="Cancel" >
        </div>
    </form>
</div>

{% if form.errors %}
<div class="error-msg-div">
    <p>Something went wrong in during the removal process:</p>
        {% for key, val in form.errors.items() %}
        <p> {{ key.capitalize().replace('_', ' ') }} field: {{ val[0] }}</p>
        {% endfor %}
</div>
{% endif %}

{% endblock %}